.container {
  max-width: 120rem;
  min-height: 40rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);

  @include respond(desktop) {
    margin: 0;
  }
}

.header {
  height: 7rem;
  font-size: 1.4rem;
  background-color: #fff;
  border-bottom: var(--border-bottom);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond(phone-small) {
    flex-wrap: wrap;
    height: auto;
    padding: 2rem 1rem;
  }
}

.content {
  display: flex;

  @include respond(tab-landscape) {
    flex-direction: column;
  }
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 18%;
  //flex: 0 0 18% ---- good practice

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include respond(tab-landscape) {
    flex-direction: row;
  }
}

.hotel-view {
  background-color: #fff;
  flex-grow: 1;
  //flex: 1;
}

.detail {
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--border-bottom);
  margin-bottom: var(--border-bottom);

  @include respond(tab-landscape) {
    padding: 3rem;
  }
  //custom size breakpoint at 700px
  @media only screen and (max-width: 43.75em) {
    flex-wrap: wrap;
  }

  @include respond(phone-small) {
    padding: 1.5rem;
  }
}

.description {
  background-color: #fff;
  margin-right: 4.5rem;
  padding: 3rem;
  font-size: 1.4rem;
  line-height: 1.6em;
  flex: 0 0 60%;
  box-shadow: var(--shadow-light);

  @media only screen and (max-width: 43.75em) {
    flex-basis: 100%;
    margin-bottom: 4rem;
  }

  @include respond(phone-small) {
    margin-bottom: 1.5rem;
  }
}

.user-reviews {
  background-color: var(--color-grey-light-1);
  // flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  .btn-inline {
    @media only screen and (max-width: 43.75em) {
      font-size: 1.7rem;
    }
  }
}
