// for base project definitions, low-level basics suchs as resets, body and html selectors, partial files always start with underscores

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%; // 9px
  }

  @include respond(tab-port) {
    font-size: 50%; //8px
  }
  @include respond(desktop-big) {
    font-size: 75%; // 12px
  }
}

body {
  padding: 3rem;
  box-sizing: border-box;

  @include respond(tab-port) {
    padding: 0;
  }
}
