.navigation {
  //this is the checkbox to be hidden
  &__checkbox {
    display: none;
  }

  //this is the label belonging to the checkbox, this will be turned into a button
  &__button {
    background-color: $color-white;
    height: 7.5rem;
    width: 7.5rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 3;
  }

  //this is an independent div for background
  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient($color-primary-light, $color-primary-dark);
    z-index: 1;

    transform: scale(80);
  }

  //this is a container for the ul
  &__nav {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
  }

  //this is the ul itself
  &__list {
    @include center-horizontal-vertical;
    text-align: center;
    list-style: none;
  }

  //these are the li elements
  &__item {
    margin: 1rem;
  }

  //these are the a-tags within the li-s
  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
  
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
      background-size: 230%; //first we double the size of the background
      transition: all .4s;
    }

    &:hover,
    &:active {
      background-position: right; //secondly we shift the background image to the right
      color: $color-primary;
      transform: translateX(1rem);
    }
  }
}
