.popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, .9);
  z-index: 5;

  &__content {
    @include center-horizontal-vertical;

    width: 75%;
    height: 50rem;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    border-radius: 3px;
  }
}