.popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.9);
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s;

  &__content {
    @include center-horizontal-vertical;

    width: 75%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: all 0.5s 0.1s;
  }

  &__left {
    width: 33.33333%;
    display: table-cell;
    vertical-align: middle;

    @include respond(phone) {
      width: 100%;
      height: 20%;
      position: absolute;
      overflow: hidden;
    }
  }

  &__right {
    width: 66.66667%;
    display: table-cell;
    vertical-align: middle;
    padding: 20rem 5rem 10rem;

    @include respond(phone) {
      width: 100%;
    }
  }

  &__img {
    display: block;
    width: 100%;

    @include respond(phone) {
      // float: left;
      // width: 50%;
      // height: 100%;
      // object-fit: cover;
      display: none;
    }
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;
    hyphens: auto; //not supported value in Chrome for windows, supposed to work in FF but doesnt.

    @include respond(phone) {
      column-count: 1;
      font-size: 1.4rem;
      margin-bottom: 2rem;
    }
  }

  &:target {
    visibility: visible;
    opacity: 1;
  }

  &:target &__content {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  &__close {
    &:link,
    &:visited {
      font-size: 3rem;
      color: $color-grey-dark-2;
      text-decoration: none;
      position: absolute;
      line-height: 1;
      top: 2rem;
      right: 2rem;
      transition: color 0.2s;
      position: inline-block;
    }

    &:hover {
      color: $color-primary;
    }
  }
}
