.story {
  width: 75%;
  margin: 0 auto;
  padding: 6rem;
  background-color: $color-white;
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  border-radius: 3px;
  font-size: $default-font-size;

  &__shape {
    width: 15rem;
    height: 15rem;
    background-color: $color-primary;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%); 
    shape-outside: circle(50% at 50% 50%); 
    clip-path: circle(50% at 50% 50%); 
  }
}